
x-service-volumes:
  &service-volumes
  - ./:/app/:rw,cached

services:
  website:
    image: stargate_mw:latest
    command: daphne -b 0.0.0.0 -p 8000 middleware.asgi:application
    volumes: *service-volumes
    depends_on:
      - db_migrate
    ports:
      - "8000:8000"
    container_name: middleware
    networks:
      - edgegate_net
    env_file:
      - .env 

  db_migrate:
    image: stargate_mw:latest
    command: python manage.py migrate
    volumes: *service-volumes

networks:
  edgegate_net:
    external: true

