
x-service-volumes:
  &service-volumes
  - ./:/app/:rw,cached

# x-database-variables: &database-variables 
#   POSTGRES_DB: postgres
#   POSTGRES_USER: postgres
#   POSTGRES_PASSWORD: postgres 

# x-app-variables: &app-variables
#   <<: *database-variables
#   POSTGRES_HOST: postgres

services:
  website:
    image: stargate_mw:latest
    command: gunicorn -b 0.0.0.0:8000 --workers 16 --max-requests 1000 middleware.wsgi
    volumes: *service-volumes
    depends_on:
      - db_migrate
    ports:
      - "8000:8000"
    container_name: middleware
    networks:
      - edgegate_net
    env_file:
      - .env 

  db_migrate:
    image: stargate_mw:latest
    command: python manage.py migrate
    volumes: *service-volumes

networks:
  edgegate_net:
    external: true
  # postgres:
  #   image: postgres
  #   ports:
  #     - "5432:5432"
  #   environment: *database-variables
  #   volumes:
  #     - db-data:/var/lib/postgresql/data

  # volumes:
  #   db-data:
